<section class="post-form__profile-image-section">
  <div class="post-form__bg-image-container" id="bg-image-container">
    <% if @user.user_profile.bg_image.present? %>
      <div class="post-form__bg-image" style="<%= "background-image: url(#{@user.user_profile.bg_image.to_s})" %>" id="background-preview" ></div>
    <% end %>
  </div>
</section>