<%= render partial: "shared/mypage_menubar" %>
<%= render partial: "shared/mypage/header_spacing" %>
<div class="posts posts-mypage">
  <%= render partial: "follower_card", collection: @users, as: :user %>
</div>
<%= paginate(@users) %>
