<div class="posts__card card mx-auto">
  <img src="" class="card-img-top" alt="">
  <div class="card-body">
    <div class="card-text">
      <%= simple_format(h(post.content)) %>
    </div>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
