%post-form {
  display: flex;
  justify-content: center;
}

.post-form {
  @extend %post-form;
  padding: 1rem 1rem 0;
  margin-top: $navbar-height;
  &-modal {
    padding: 0.5rem 1rem 0;
    @extend %post-form;
  }
  &__form {
    flex-basis: 32rem;
    &__content {
      &__image {
        font-size: 2rem;
        margin: 0.5rem;
        &:hover {
          cursor: pointer;
        }
        &__icon {
          &:hover {
            color: #808080;
          }
        }
        &__field {
          display: none;
        }
      }
    }
    &__menu {
      display: flex;
      justify-content: flex-end;
      &__submit {
        margin: 0.5rem;
      }
      &__cancel {
        margin: 0.5rem;
      }
    }
  }
  &__preview-image {
    padding: 5px;
    text-align: center;
    &:hover {
      background-color: #b89f9f;
    }
  }
  &__preview-menus {
    padding: 5px 0;
    display: flex;
    justify-content: center;
  }
}
