%posts {
  padding-top: 1rem;
}
.posts {
  &-mypage {
    @extend %posts;
    margin-top: $navbar-height + $mypage-header-height;
  }
  &-timeline {
    @extend %posts;
    margin-top: $navbar-height;
  }
  %__card {
    max-width: 32rem;
    margin-bottom: 0.5rem;
  }
  &__card {
    @extend %__card;
    &--no-results {
      @extend %__card;
    }
    &__header {
      ul {
        margin: 0;
      }
      &__info {
        display: flex;
        justify-content: space-between;
        color: grey;
        &__username {
          a {
            text-decoration: none;
            color: grey;
          }
        }
        &__dropdown {
          &__btn {
            margin: 0;
            padding: 0 0.5rem;
            border: 0;
          }
          &__menu {
            a {
              text-decoration: none;
            }
          }
        }
      }
    }
    &__image {
      text-align: center;
      padding: 1rem;
    }
    &__bottom {
      display: flex;
      &__bookmarks-count {
        margin-left: 1rem;
      }
    }
  }
}
