.header {
  &__user-info {
    height: 5rem;
    background-color: rgb(239, 239, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    &__inner {
      padding: 0 1rem;
      flex-basis: 480px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__user-name {
      }
      &__menu {
        margin: 0;
        padding: 0;
        &__bookmark {
          a {
            color: grey;
            text-decoration: none;
          }
        }
      }
    }
  }
}
