.header {
  &__navbar-space {
    height: $navbar-height + $mypage-header-height;
  }
  &__user-info {
    height: 5rem;
    background-color: #efeff5;
    display: flex;
    justify-content: center;
    align-items: center;
    &__inner {
      padding: 0 1rem;
      flex-basis: 480px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__user-name {
        a {
          text-decoration: none;
          color: black;
        }
      }
      &__menu {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        &__item {
          margin-left: 1rem;
          &__bookmark {
            color: grey;
            &--highlight {
              border-bottom: 1px solid blue;
              color: grey;
            }
          }
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
