<div class="posts__card__bottom card-body">
  <div class="posts__card__bottom__bookmark">
    <% if user_signed_in? %>
      <% if post.is_bookmarked(current_user.id) %>
        <%= link_to icon("fas", "heart"), post_bookmarks_path(post.id),
          method: :delete, remote: true, class: "posts__card__bottom__bookmark__icon--cheched" %>
      <% else %>
        <%= link_to icon("far", "heart"), post_bookmarks_path(post.id),
          method: :post, remote: true, class: "posts__card__bottom__bookmark__icon--uncheched" %>
      <% end %>
    <% else %>
      <%= link_to link_to icon("far", "heart"), new_user_session_path %>
    <% end %>
  </div>
  <div class="posts__card__bottom__bookmarks-count"><%= post.bookmarks_count %></div>
</div>